body {
 background-color: black;
}

.container {
 padding: 5vw 5vh;
 width: 90vw;
 height: 90vh;
 display: grid;
 grid-template-areas: "m1f m1b"
   "lm1f lm1f"
   "lm1b lm1b"
   "say say";
}

button {
 background-color: lightgray;
 color: black;
 border: 3px solid gray;
 border-radius: 10px;
 margin: 5px;
 font-size: 40px;
}

button.pressed {
 background-color: green;
 color: white;
}

.m1f { grid-area: 'm1f'; }
.m1b { grid-area: 'm1b'; }
.lm1f { grid-area: 'lm1f'; }
.lm1b { grid-area: 'lm1b'; }
.lm2f { grid-area: 'lm2f'; }
.lm2b { grid-area: 'lm2b'; }
.say { grid-area: 'say'; }

